kod.txt
[{"id":"78e35e91.bd069","type":"mysql","z":"112f3d7c.c74bd3","mydb":"8d246c76.b2321","name":"Database","x":1656.500244140625,"y":373.00006103515625,"wires":[["99fe0c9.e0a9df"]]},{"id":"7f9e0c4f.fea204","type":"serial in","z":"112f3d7c.c74bd3","name":"seri port","serial":"c2e7e7c7.f548c8","x":476,"y":272.9998779296875,"wires":[["21b9dbda.52ca14"]]},{"id":"21b9dbda.52ca14","type":"function","z":"112f3d7c.c74bd3","name":"Stringe Cevir","func":"var newMessage={payload: msg.payload.toString() };\nreturn newMessage;","outputs":1,"noerr":0,"x":635.9999847412109,"y":272.9998779296875,"wires":[["fbff98db.0040f8"]]},{"id":"fbff98db.0040f8","type":"split","z":"112f3d7c.c74bd3","name":"Stringi Böl","splt":" ","x":830.4999694824219,"y":273.9998779296875,"wires":[["6bc248e6.95b2c8"]]},{"id":"6bc248e6.95b2c8","type":"function","z":"112f3d7c.c74bd3","name":"tokenleri değişkenlere ata","func":"\nvar newMsg={};\n\n//sensor verileri için değişkenler oluşturuldu.\nvar Sensor={\n    sicaklik:0,\n    nem:0,\n    yukseklik:0,\n    Time:new Date().toString()\n};\n\ncontext.data=context.data || {};\nswitch(msg.parts.index)\n{\n    case 0:\n        context.data.nem=parseFloat(msg.payload);\n        msg=null\n        break;\n    case 1:\n        context.data.sicaklik=parseFloat(msg.payload);\n        msg=null\n        break;\n    case 2:\n        context.data.yukseklik=parseFloat(msg.payload);\n        msg=null\n        break;\n    \n    default:\n        msg=null;\n        break;\n}\nAlldata=context.data.sicaklik && context.data.nem && context.data.yukseklik;\nif(Alldata)\n{\n    var time=Date();\n    context.data.Time=time.toString();\n    Sensor=context.data;\n    newMsg={\n        payload:context.data,\n        topic:'Frame Sensor'\n    };\n    context.data=null;\n    return newMsg;\n}\nelse\n{\n    return msg;\n}","outputs":1,"noerr":0,"x":1072,"y":272.9999084472656,"wires":[["d2bd24c4.cd4348","dacc3047.22fe3"]]},{"id":"d2bd24c4.cd4348","type":"function","z":"112f3d7c.c74bd3","name":"degerleri al","func":"var msgSicaklik={payload : msg.payload.sicaklik};\nvar msgYukseklik={payload : msg.payload.yukseklik};\nvar msgNem={payload:msg.payload.nem};\nreturn [msgSicaklik,msgNem,msgYukseklik];","outputs":"3","noerr":0,"x":1427.9999389648438,"y":177.99996948242188,"wires":[["b76b797c.890888","c6407cb9.0aaae"],["c6432c44.e7093","b76f3936.940308"],["fecec9d2.3f9cb8","968ae1d7.72fee"]]},{"id":"c6432c44.e7093","type":"ui_gauge","z":"112f3d7c.c74bd3","name":"Nem","group":"9b763553.76ca78","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"Nem","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"60","x":1726.9998779296875,"y":149.00003051757812,"wires":[]},{"id":"b76b797c.890888","type":"ui_gauge","z":"112f3d7c.c74bd3","name":"Sicaklik","group":"beddc156.4c507","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"Sıcaklık (Celcius)","format":"{{value}} C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"50","x":1583.9998779296875,"y":43,"wires":[]},{"id":"dacc3047.22fe3","type":"function","z":"112f3d7c.c74bd3","name":"degerleri al / kaydet","func":"var msgSicaklik={payload : msg.payload.sicaklik};\nvar msgNem={payload:msg.payload.nem};\nmsg.topic=\"INSERT INTO degerlerTablosu(sicaklik,nem,yukseklik) VALUES ('\"+msg.payload.sicaklik+\"' ,'\"+msg.payload.nem+\"','\"+msg.payload.yukseklik+\"')\";\nreturn msg;","outputs":1,"noerr":0,"x":1459.0001220703125,"y":373.0000305175781,"wires":[["78e35e91.bd069"]]},{"id":"99fe0c9.e0a9df","type":"function","z":"112f3d7c.c74bd3","name":"sonKaydiAl","func":"msg.topic=\"SELECT degerID,sicaklik,nem,yukseklik FROM degerlerTablosu ORDER BY degerID DESC LIMIT 1\";\nreturn msg;","outputs":1,"noerr":0,"x":524.0003967285156,"y":676.0000686645508,"wires":[["fe73c657.003948"]]},{"id":"fe73c657.003948","type":"mysql","z":"112f3d7c.c74bd3","mydb":"8d246c76.b2321","name":"Database","x":744.0002746582031,"y":676.0000686645508,"wires":[["59d71b2c.ea2064"]]},{"id":"59d71b2c.ea2064","type":"json","z":"112f3d7c.c74bd3","name":"Jsona Çevir","x":984.5002746582031,"y":674.000129699707,"wires":[["21f59062.3099d"]]},{"id":"fecec9d2.3f9cb8","type":"ui_gauge","z":"112f3d7c.c74bd3","name":"Yukseklik","group":"1b86065a.ca620a","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"Su Seviyesi","format":"{{value}}","min":0,"max":"4","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2","seg2":"3","x":1614,"y":268,"wires":[]},{"id":"21f59062.3099d","type":"function","z":"112f3d7c.c74bd3","name":"jsonF","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1199.0000305175781,"y":675.0000076293945,"wires":[["56b15977.f42e68"]]},{"id":"56b15977.f42e68","type":"http request","z":"112f3d7c.c74bd3","name":"","method":"POST","ret":"obj","url":"http://87.118.114.103/post","tls":"","x":1462.0000305175781,"y":730.0000076293945,"wires":[["fc7918da.e9c4c8","bcc96c0.9946998"]]},{"id":"fc7918da.e9c4c8","type":"function","z":"112f3d7c.c74bd3","name":"Veri başarılı bir şekilde gittiyse durumu guncelle 1 yap","func":"if(msg.payload.durum==\"OK\")\n{\n    msg.topic=\"UPDATE degerlerTablosu SET durum=1 ORDER BY degerID DESC LIMIT 1\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":2029.0000305175781,"y":762.0000076293945,"wires":[["359b8b1a.4982e4"]]},{"id":"359b8b1a.4982e4","type":"mysql","z":"112f3d7c.c74bd3","mydb":"8d246c76.b2321","name":"Database","x":2401.500030517578,"y":919.0000076293945,"wires":[[]]},{"id":"9afc124f.937f7","type":"inject","z":"112f3d7c.c74bd3","name":"67 saniye aralıklarla çalıştır","topic":"","payload":"","payloadType":"date","repeat":"67","crontab":"","once":false,"x":1917.0000305175781,"y":915.0000076293945,"wires":[["416955bb.dc697c"]]},{"id":"416955bb.dc697c","type":"function","z":"112f3d7c.c74bd3","name":"Giden verileri sil","func":"msg.topic=\"DELETE FROM degerlerTablosu WHERE durum=1\";\nreturn msg;","outputs":1,"noerr":0,"x":2187.000030517578,"y":916.0000076293945,"wires":[["359b8b1a.4982e4"]]},{"id":"593590a4.722a6","type":"function","z":"112f3d7c.c74bd3","name":"gonderilemeyenVerileriGetir","func":"msg.topic=\"SELECT degerID,sicaklik,nem,yukseklik FROM degerlerTablosu WHERE durum=0\";\nreturn msg;","outputs":1,"noerr":0,"x":722.0000305175781,"y":1074.0000076293945,"wires":[["89d9bf2.e11e94"]]},{"id":"89d9bf2.e11e94","type":"mysql","z":"112f3d7c.c74bd3","mydb":"8d246c76.b2321","name":"Database","x":973.9999694824219,"y":1075.0000076293945,"wires":[["826c2477.b32d38"]]},{"id":"826c2477.b32d38","type":"json","z":"112f3d7c.c74bd3","name":"convertToJson","x":1185.5000305175781,"y":1074.000129699707,"wires":[["9e684ea.b358cb"]]},{"id":"9e684ea.b358cb","type":"function","z":"112f3d7c.c74bd3","name":"jsonF","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1406.0000305175781,"y":1073.0000076293945,"wires":[["fe778ad3.bd2788"]]},{"id":"fe778ad3.bd2788","type":"http request","z":"112f3d7c.c74bd3","name":"","method":"POST","ret":"obj","url":"http://87.118.114.103/post","tls":"","x":1607.0000305175781,"y":1072.0000076293945,"wires":[["44ae5164.ce8c6"]]},{"id":"44ae5164.ce8c6","type":"function","z":"112f3d7c.c74bd3","name":"Veri başarılı bir şekilde gittiyse durumu guncelle 1 yap","func":"if(msg.payload.durum==\"OK\")\n{\n    msg.topic=\"UPDATE degerlerTablosu SET durum=1\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":2035.0000305175781,"y":1071.0000076293945,"wires":[["359b8b1a.4982e4"]]},{"id":"6eb9a6fd.5eeae8","type":"inject","z":"112f3d7c.c74bd3","name":"","topic":"","payload":"","payloadType":"date","repeat":"131","crontab":"","once":false,"x":475.0000305175781,"y":1073.0000076293945,"wires":[["593590a4.722a6"]]},{"id":"7dc4a380.ddf70c","type":"comment","z":"112f3d7c.c74bd3","name":"Gitmeyen Degerleri Yeniden Gonder","info":"","x":556.5000305175781,"y":1015.0000076293945,"wires":[]},{"id":"2672d5d5.69a53a","type":"comment","z":"112f3d7c.c74bd3","name":"Giden degerleri sil","info":"","x":1862.5000305175781,"y":874.0000076293945,"wires":[]},{"id":"bcc96c0.9946998","type":"debug","z":"112f3d7c.c74bd3","name":"Sonucu Debug penceresinde Göster","active":true,"console":"false","complete":"payload","x":1960.0000305175781,"y":686.0000076293945,"wires":[]},{"id":"73b3595c.999678","type":"comment","z":"112f3d7c.c74bd3","name":"DBye eklenen son kaydı server'a gönder","info":"","x":1548.5000305175781,"y":666.4531326293945,"wires":[]},{"id":"37fa945.f7bae6c","type":"comment","z":"112f3d7c.c74bd3","name":"DBye eklenen son kaydı getir","info":"","x":541.4922180175781,"y":723.4687576293945,"wires":[]},{"id":"c6407cb9.0aaae","type":"ui_chart","z":"112f3d7c.c74bd3","name":"Sıcaklık Grafik","group":"beddc156.4c507","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"60","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1634.300048828125,"y":89,"wires":[[],[]]},{"id":"b76f3936.940308","type":"ui_chart","z":"112f3d7c.c74bd3","name":"Nem Grafik","group":"9b763553.76ca78","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"60","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1744.300048828125,"y":197.00001525878906,"wires":[[],[]]},{"id":"968ae1d7.72fee","type":"ui_chart","z":"112f3d7c.c74bd3","name":"Yükseklik Grafik","group":"1b86065a.ca620a","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"4","removeOlder":1,"removeOlderPoints":"60","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1617,"y":307,"wires":[[],[]]},{"id":"8d246c76.b2321","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"platform","tz":""},{"id":"c2e7e7c7.f548c8","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"bin","out":"char","addchar":true},{"id":"9b763553.76ca78","type":"ui_group","z":"","name":"Nem","tab":"e00996fa.88d7c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"beddc156.4c507","type":"ui_group","z":"","name":"Sıcaklık","tab":"e00996fa.88d7c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"1b86065a.ca620a","type":"ui_group","z":"","name":"Yukseklik","tab":"e00996fa.88d7c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"e00996fa.88d7c8","type":"ui_tab","z":"","name":"Sensörlerden Alınan Değerler","icon":"dashboard"}]